@font-face {
  font-family: 'accbook';
  src: url('../fonts/accbook.eot');
  src: url('../fonts/accbook.eot?#iefix') format('embedded-opentype'), url('../fonts/accbook.woff') format('woff'), url('../fonts/accbook.ttf') format('truetype'), url('../fonts/accbook.svg') format('svg');
}

.accbook {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'accbook';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.accbook-logo:before {
  content: "\0037";
}



body {
  background-color: #ffffff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #3a7091;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #0b3f5e;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #26acff;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #298dcc;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar-default {
  background-color: #f5fbff;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #298dcc;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #116091;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #298dcc;
}

.navbar-default .navbar-nav > li > a {
  color: #298dcc;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #116091;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #116091;
  background-color: #e0f3ff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
/*  background-color: #34495e;*/
	
	background: #00234b url(../img/head-bg.gif) no-repeat center top;
	margin-top: -10px;
	padding-top: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* news Wrap */
#news {
	border-top: #bdc3c7 solid 5px;
}

#version {
	display: block;
	padding-top: 50px;
}


/* intro Wrap */

#intro {
	padding-top: 50px;
  padding-bottom: 50px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #00234b;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
  vertical-align: bottom;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

#footerwrap a {
    color: #c2e8ff;
    vertical-align: bottom;
}

#footerwrap a:hover,
#footerwrap a:focus {
    color: #e5f5ff;
}

/* Copyright Wrap */

#c {
	background: #001730;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}



